export LOCAL_STORAGE_DIRECTORY=data/search
export REMOTE_STORAGE_URL=http://localhost:9000
export REMOTE_STORAGE_ACCESS_KEY=minio
export REMOTE_STORAGE_SECRET_KEY=minio123
export REMOTE_STORAGE_BUCKET=test
#export REMOTE_STORAGE_PREFIX=
